<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<footer
  style="
    background-color: black;
    color: white;
    padding: 40px 20px;
    margin-top: 200px;
  "
>
  <div
    style="
      display: flex;
      justify-content: center;
      text-align: left;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
    "
  >
    <div style="flex: 1; min-width: 200px; margin: 10px">
      <h3>
        <i class="fas fa-shield-halved" style="margin-right: 8px"></i
        >Responsibility
      </h3>
      <p>
        Sứ mệnh của chúng tôi là giúp mọi người tiếp cận tiếng Anh dễ dàng, mọi
        lúc, mọi nơi. Tại NAK English, chúng tôi cam kết đồng hành và hỗ trợ bạn
        trên hành trình chinh phục ngôn ngữ này!
      </p>
    </div>
    <div
      style="flex: 1; min-width: 200px; margin-left: 200px; margin-top: 10px"
    >
      <h3>Contact</h3>
      <p>
        <i class="fab fa-facebook" style="margin-right: 8px"></i>NAK ENGLISH
      </p>
      <p><i class="fab fa-youtube" style="margin-right: 8px"></i>NAK ENGLISH</p>
      <p>
        <i class="fab fa-instagram" style="margin-right: 8px"></i
        >@nakenglishucdi
      </p>
    </div>
    <div style="flex: 1; min-width: 200px; margin: 10px">
      <h3>Course</h3>
      <p>Children Course</p>
      <p>Adult Course</p>
      <p>Ielts exam course</p>
    </div>
  </div>
</footer>
