{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'views/header.html' %}
  <body>
    <!-- header -->
    <header class="header fixed">
      <div class="container">
        <a href="./index.html">
          <p class="nakenglish">NAK ENGLISH</p>
        </a>
        <!-- nav -->
        <nav class="nav">
          <ul type="none">
            <li><a href="../index.html"><strong>Home</strong></a></li>
            <li><a href="./Children_English.html"><strong>Tiếng anh trẻ em</a></li></strong>
            <li><a href="../adultenglish/Aldult_English"><strong>Tiếng anh người lớn</strong></a></li>
            <li><a href=""><strong>Ielts exam</strong></a></li>
          </ul>
        </nav>
        <!-- sign in -->
        <div class="active">
          <a href="./login" class="signin"><strong>Sign in</strong></a>
        </div>
      </div>
    </header>
    <!-- banner -->
    <div class="container">
      <img src="{% static 'img/img/bannerr2.png' %}" class="img-fluid banner1" alt="..." >
      <img src="{% static 'img/img/bannerr3.png' %}" class="img-fluid banner2" alt="..." >
    </div>
    <!-- phan noi dung tieng anh tre em -->
    <div class="container">
        <h1><strong>Children's English</strong></h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/wryf.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hello <br>
                    Unit 1: Where are you from ?
                    I am from Vietnam.
                  </h5>
                  <p class="card-text">
                    Học cách giới thiệu cho bạn bè mình đến từ đâu, đất nước nào.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/calendar2025.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    Unit 2: What is the date today ?<br>
                    Today is September 9th.
                  </h5>
                  <p class="card-text">Hãy cùng học cách nói thứ trong tuần và ngày tháng bằng tiếng Anh nào!</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/Jobs.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Unit 3: What does he does ?<br>He is an actor</h5>
                  <p class="card-text">Hãy cùng chúng mình học cách hỏi về nghề nghiệp của người khác nhé</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/birthday.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Unit 4: I was at Linh's birthday party.
                  </h5>
                  <p class="card-text">
                    Hãy cùng học chủ đề về các lễ hội, sự kiện, cảm xúc thông qua đơn vị bài học này nhé !
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/benhtat.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    Unit 5: Are you sick ?<br>
                    I have a headache
                  </h5>
                  <p class="card-text">Cùng tìm hiểu về các bộ phận cơ thể, các bệnh tật mà các các bạn mắc phải nhé</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/travel.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    Unit 6: Where do you like to go in Hanoi ? <br>
                    Hoan Kiem lake</h5>
                  <p class="card-text">Những danh lam thắng cảnh, những địa điểm nổi tiếng cùng đi khám phá với chúng mình hôm nay trong bài học này nhé</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container box">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/traffic.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    Unit 7: Where is the museum ?<br>
                    You go straight and it's in the left of the bookstore.
                  </h5>
                  <p class="card-text">
                    Nếu người nước ngoài hỏi bạn chỉ đường cho họ đến một nơi nào đó thì bạn sẽ chỉ thế nào nhỉ ?
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/story.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    Unit 8: What are you reading ?<br>
                    Fairy tale story.
                  </h5>
                  <p class="card-text">Bạn thích đọc thể loại truyện thế nào, cùng tìm nó trong bài học ngày hôm nay nhé</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{% static 'img/img/fam.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    Unit 9: What did you see at the zoo?<br>
                    A lionnnnn.</h5>
                  <p class="card-text">Bạn đã đến sở thú bao giờ giờ chưa, nếu rồi thì cùng xem tên gọi của những động vật mà bạn đã nhìn thấy là gì nhé
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-dark text-white py-4">
        <div class="container">
            <div class="row align-items-center">
                <!-- Logo + Title -->
                <div class="col-md-4 text-center text-md-start">
                    <div class="d-flex align-items-center">
                        <img src="{% static 'img/icon/6000153-Photoroom.png' %}" alt="Logo" class="me-2" width="50">
                        <strong class="fs-4">NAK English</strong>
                    </div>
                    <p class="mt-2">
                        Our mission is to make English accessible to everyone, everywhere. At NAK English, we are committed to supporting you on your language-learning journey.
                    </p>
                </div>
    
                <!-- Course Links -->
                <div class="col-md-4 text-center our-courses">
                  <h5 class="fw-bold">Our Courses</h5>
                  <ul class="list-inline">
                    <li class="px-3">Children's Course</li>
                    <li class="px-3">Adult's Course</li>
                    <li class="px-3">IELTS Exam</li>
                  </ul>
                </div>
    
                <!-- Social Media + Copyright -->
                <div class="col-md-4 text-center text-md-end">
                    <p class="fw-bold">Follow Us</p>
                    <div class="d-flex justify-content-center justify-content-md-end gap-2">
                        <a href="#"><img src="{% static 'img/icon/facebook-brands.svg' %}" alt="Facebook" width="35"></a>
                        <a href="#"><img src="{% static 'img/icon/youtube-brands.svg' %}" alt="YouTube" width="40"></a>
                        <a href="#"><img src="{% static 'img/icon/instagram-brands.svg' %}" alt="Instagram" width="32"></a>
                    </div>
                    <p class="mt-3">&copy; 2025 NAK English</p>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
