
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../NAK_ico/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../NAK_ico/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../NAK_ico/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../NAK_ico/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../NAK_ico/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../NAK_ico/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../NAK_ico/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../NAK_ico/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../NAK_ico/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../NAK_ico/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../NAK_ico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../NAK_ico/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../NAK_ico/favicon-16x16.png"
    />
    <link rel="manifest" href="./NAK_ico/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="../NAK_ico/ms-icon-144x144.png"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="unit1.css">
    <title>Tiếng anh trẻ em</title>
  </head>
  <body>
    <header class="header fixed">
      <div class="container">
        <a href="./index.html">
          <p class="nakenglish">NAK ENGLISH</p>
        </a>
        <!-- nav -->
        <nav class="nav">
          <ul type="none">
            <li><a href="../index.html"><strong>Home</strong></a></li>
            <li><a href="./Children-English.html"><strong>Tiếng anh trẻ em</a></li></strong>
            <li><a href="../aldultenglish/Aldult-English.html"><strong>Tiếng anh người lớn</strong></a></li>
            <li><a href=""><strong>Ielts exam</strong></a></li>
          </ul>
        </nav>
        <!-- sign in -->
        <div class="active">
          <a href="./login.html" class="signin"><strong>Sign in</strong></a>
        </div>
      </div>
    </header>
    <!-- banner -->
    <div class="container">
      <img src="{%static 'img/img/bannerr2.png' %}" class="img-fluid banner1" alt="..." >
      <img src="{%static 'img/img/bannerr3.png' %}" class="img-fluid banner2" alt="..." >
    </div>
    <!-- phan main -->
    <div class="container my-4">
        <!-- Section 1: Hello -->
        <div class="container mt-5">
          <!-- Thanh phân chia -->
          <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
            <div class="border-top border-danger" style="width: 45%;"></div>
            <h3 class="text-center text-danger" style="font-weight: bold;">Unit 1: Hello</h3>
            <div class="border-top border-danger" style="width: 45%;"></div>
          </div>
          <h2>I. Vocabulary</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Word</th>
                <th scope="col">Audio</th>
                <th scope="col">Meaning</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Where</td>
                <td>
                    <audio id="audio1">
                      <source src="../audio/a.mp3" type="audio/mpeg">
                    </audio>
                    <button onclick="document.getElementById('audio1').play()" style="background: none; border: none; cursor: pointer;">
                      <i class="fa-solid fa-volume-high"></i>
                    </button>
                  </td>
                <td>Ở đâu</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>From</td>
                <td>Thornton</td>
                <td>Đến từ</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Nationality</td>
                <td>Thornton</td>
                <td>Quốc tịch</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Country</td>
                <td>Thornton</td>
                <td>Quốc gia</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>City</td>
                <td>Thornton</td>
                <td>Thành phố</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Hometown</td>
                <td>Thornton</td>
                <td>Quê hương</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Viet Nam/ Vietnamese</td>
                <td>Thornton</td>
                <td>Việt Nam/ người Việt Nam</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Japan/ Japanese</td>
                <td>Thornton</td>
                <td>Nhật Bản/ người Nhật Bản</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>France/ French</td>
                <td>Thornton</td>
                <td>Pháp/ người Pháp</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>England/ English</td>
                <td>Thornton</td>
                <td>Anh/ người Anh</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>China/ Chinese</td>
                <td>Thornton</td>
                <td>Trung Quốc/ người Trung Quốc</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>Germany/ German</td>
                <td>Thornton</td>
                <td>Đức/ người Đức</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>Korea/ Korean</td>
                <td>Thornton</td>
                <td>Hàn Quốc/ người Hàn Quốc</td>
              </tr>
              <tr>
                <th scope="row">14</th>
                <td>Italy/ Italian</td>
                <td>Thornton</td>
                <td>Ý/ người Ý</td>
              </tr>
              <tr>
                <th scope="row">15</th>
                <td>Australia/ Australian</td>
                <td>Thornton</td>
                <td>Úc/ người Úc</td>
              </tr>
            </tbody>
          </table>
          <h2 style="margin-top: 40px;">II. Grammar</h2>
        </div>
    </div>        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <footer class="footer bg-dark text-white py-4">
      <div class="container">
          <div class="row align-items-center">
              <!-- Logo + Title -->
              <div class="col-md-4 text-center text-md-start">
                  <div class="d-flex align-items-center">
                      <img src="{%static 'img/icon/6000153-Photoroom.png' %}" alt="Logo" class="me-2" width="50">
                      <strong class="fs-4">NAK English</strong>
                  </div>
                  <p class="mt-2">
                    Sứ mệnh của chúng tôi là giúp mọi người tiếp cận tiếng Anh dễ dàng, mọi lúc, mọi nơi. Tại NAK English, chúng tôi cam kết đồng hành và hỗ trợ bạn trên hành trình chinh phục ngôn ngữ này!
                  </p>
              </div>
  
              <!-- Course Links -->
              <div class="col-md-4 text-center our-courses">
                <h5 class="fw-bold">Our Courses</h5>
                <ul class="list-inline">
                    <a href="./Children-English.html"><li class="px-3">Children's Course</li></a>
                    <a href="./Aldult-English.html"><li class="px-3">Adult's Course</li></a>
                    <li class="px-3">IELTS Exam</li>
                </ul>
              </div>
  
              <!-- Social Media + Copyright -->
              <div class="col-md-4 text-center text-md-end">
                  <p class="fw-bold">Follow Us</p>
                  <div class="d-flex justify-content-center justify-content-md-end gap-2">
                      <a href="#"><img src="{%static 'img/icon/facebook-brands.svg' %}" alt="Facebook" width="35"></a>
                      <a href="#"><img src="{%static 'img/icon/youtube-brands.svg' %}" alt="YouTube" width="40"></a>
                      <a href="#"><img src="{%static 'img/icon/instagram-brands.svg' %}" alt="Instagram" width="32"></a>
                  </div>
                  <p class="mt-3">&copy; 2025 NAK English</p>
              </div>
          </div>
      </div>
    </footer>
  </body>
</html>
