{%load static%}
<!DOCTYPE html>
<html lang="en">
  {% include 'views/header.html' %}
  <body>
    {% include 'views/navbar.html' %}
    <!-- banner -->
    <div class="container">
      <img src="{%static 'img/img/bannerr2.png' %}" class="img-fluid banner1" alt="..." >
      <img src="{%static 'img/img/bannerr3.png' %}" class="img-fluid banner2" alt="..." >
    </div>
    <!-- phan main -->
    <div class="container my-4">
        <!-- Section 1: Hello -->
        <div class="container mt-5">
          <!-- Thanh phân chia -->
          <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
            <div class="border-top border-danger" style="width: 45%;"></div>
            <h3 class="text-center text-danger" style="font-weight: bold;">Unit 9: This is my family</h3>
            <div class="border-top border-danger" style="width: 45%;"></div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingHello">
                <h3 class="mb-0">
                    <button style="text-decoration: none; font-size: 25px; color: black; font-weight: bold;" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHello" aria-expanded="true" aria-controls="collapseHello">
                        Part 1: Vocabulary
                    </button>
                </h3>
            </div>
            <div id="collapseHello" class="collapse" aria-labelledby="headingHello">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{%static 'img/img/u91.jpg' %}" class="d-block w-100" alt="Image 1" style="max-height: 706px;">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio1').play()">🎧</button>
                                <audio id="audio1" src="{%static 'audio/relative.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u92.jpg' %}" class="d-block w-100" alt="Image 2" style="max-height: 706px;">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio2').play()">🎧</button>
                                <audio id="audio2" src="{%static 'audio/father.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u93.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio3').play()">🎧</button>
                                <audio id="audio3" src="{%static 'audio/mother.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{%static 'img/img/u94.jpg' %}" class="d-block w-100" alt="Image 3">
                          <div class="audio-container">
                              <button class="audio-btn" onclick="document.getElementById('audio4').play()">🎧</button>
                              <audio id="audio4" src="{%static 'audio/brother.mp3' %}" preload="auto"></audio>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{%static 'img/img/u95.jpg' %}" class="d-block w-100" alt="Image 3">
                          <div class="audio-container">
                              <button class="audio-btn" onclick="document.getElementById('audio5').play()">🎧</button>
                              <audio id="audio5" src="{%static 'audio/sister.mp3' %}" preload="auto"></audio>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{%static 'img/img/u96.jpg' %}" class="d-block w-100" alt="Image 3">
                          <div class="audio-container">
                              <button class="audio-btn" onclick="document.getElementById('audio6').play()">🎧</button>
                              <audio id="audio6" src="{%static 'audio/grandfather.mp3' %}" preload="auto"></audio>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{%static 'img/img/u97.jpg' %}" class="d-block w-100" alt="Image 3">
                          <div class="audio-container">
                              <button class="audio-btn" onclick="document.getElementById('audio7').play()">🎧</button>
                              <audio id="audio7" src="{%static 'audio/grandmother.mp3' %}" preload="auto"></audio>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{%static 'img/img/u98.jpg' %}" class="d-block w-100" alt="Image 3">
                          <div class="audio-container">
                              <button class="audio-btn" onclick="document.getElementById('audio8').play()">🎧</button>
                              <audio id="audio8" src="{%static 'audio/uncle.mp3' %}" preload="auto"></audio>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="{%static 'img/img/u99.jpg' %}" class="d-block w-100" alt="Image 3">
                          <div class="audio-container">
                              <button class="audio-btn" onclick="document.getElementById('audio9').play()">🎧</button>
                              <audio id="audio9" src="{%static 'audio/aunt.mp3' %}" preload="auto"></audio>
                          </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u910.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio10').play()">🎧</button>
                                <audio id="audio10" src="{%static 'audio/son.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u911.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio11').play()">🎧</button>
                                <audio id="audio11" src="{%static 'audio/daughter.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u912.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio12').play()">🎧</button>
                                <audio id="audio12" src="{%static 'audio/parent.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u913.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio13').play()">🎧</button>
                                <audio id="audio13" src="{%static 'audio/child.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u914.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio14').play()">🎧</button>
                                <audio id="audio14" src="{%static 'audio/children.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u915.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio15').play()">🎧</button>
                                <audio id="audio15" src="{%static 'audio/husband.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u916.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio16').play()">🎧</button>
                                <audio id="audio16" src="{%static 'audio/wife.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u917.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio17').play()">🎧</button>
                                <audio id="audio17" src="{%static 'audio/family.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{%static 'img/img/u918.jpg' %}" class="d-block w-100" alt="Image 3">
                            <div class="audio-container">
                                <button class="audio-btn" onclick="document.getElementById('audio18').play()">🎧</button>
                                <audio id="audio18" src="{%static 'audio/baby.mp3' %}" preload="auto"></audio>
                            </div>
                        </div>
                    </div>
                    <!-- Các nút điều hướng -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Section 2: Grammar -->
        <div class="card mt-3">
          <div class="card-header" id="headingGrammar">
            <h3 class="mb-0">
                <button style="text-decoration: none; font-size: 25px; color: black; font-weight: bold;" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGrammar" aria-expanded="true" aria-controls="collapseGrammar">
                    Part 2: Grammar
                </button>
            </h3>
          </div>
          <div id="collapseGrammar" class="collapse" aria-labelledby="headingGrammar">
            <div class="card mb-3" style="margin: 15px; border: 2px solid black;">
              <img src="{%static 'img/img/u9grammar.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="card-body1">
                    <h5 class="card-title" style="text-align: start;">This is my family</h5>
                </div>
                <style>
                  p{
                    font-family: 'Roboto', sans-serif;
                  }
                </style>
                    <p>
                        <strong>Ngữ pháp: How Many / How Much (Bao nhiêu)</strong> <br>
                        Chào các bạn! Hôm nay, chúng ta sẽ học cách sử dụng How many và How much để hỏi về số lượng hoặc mức độ của sự vật, sự việc, và chúng ta sẽ liên hệ với gia đình để thực hành. <br>
                        <strong>1. How many</strong>  <br>
                        – Dùng để hỏi về số lượng của danh từ đếm được (nói về những thứ có thể đếm được như người, vật, đồ vật, v.v.). <br>
                        Cấu trúc: How many + danh từ đếm được số nhiều? <br>
                        Ví dụ: How many people are in your family? (Gia đình bạn có bao nhiêu người?) <br>
                        Ví dụ: How many brothers do you have? (Bạn có bao nhiêu anh trai?) <br>
                        <strong>2. How much </strong> <br>
                        – Dùng để hỏi về số lượng hoặc mức độ của danh từ không đếm được (nói về những thứ không thể đếm được như nước, tiền, thời gian, v.v.). <br>
                        Cấu trúc: How much + danh từ không đếm được? <br>
                        Ví dụ: How much time do you spend with your family? (Bạn dành bao nhiêu thời gian cho gia đình?) <br>
                        Ví dụ: How much money do you spend on groceries each month? (Bạn chi bao nhiêu tiền cho việc mua sắm hàng tháng?) <br>
                    </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Section 3: Minigame -->
        <div class="card mt-3">
          <div class="card-header" id="headingminigame">
            <h3 class="mb-0">
                <button style="text-decoration: none; font-size: 25px; color: black; font-weight: bold;" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseminigame" aria-expanded="true" aria-controls="collapseminigame">
                    Part 3: Mini Game
                </button>
            </h3>
          </div>
          <div id="collapseminigame" class="collapse" aria-labelledby="headingminigame">
          </div>
        </div>
        <a href="./Children-English1.html"><button type="button" class="btn btn-outline-dark" style="margin-top: 20px; width: 250px; height: 50px; font-family: 'Roboto', sans-serif;"><strong>Quay lại danh sách bài học</strong></button></a>
    </div>

    <!-- Link to Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function showContent(id) {
    // Hide all content divs
    const contentDivs = document.querySelectorAll('.hidden');
    contentDivs.forEach(div => div.classList.remove('active'));

    // Show the clicked content
    const selectedDiv = document.getElementById(id);
    selectedDiv.classList.add('active');
}

    </script>
    <script>
      function playSound(audioId) {
          var audio = document.getElementById(audioId);
          audio.play(); // Play the audio when the button is clicked
      }
  </script>
    <footer class="footer bg-dark text-white py-4">
      <div class="container">
          <div class="row align-items-center">
              <!-- Logo + Title -->
              <div class="col-md-4 text-center text-md-start">
                  <div class="d-flex align-items-center">
                      <img src="{%static 'img/icon/6000153-Photoroom.png' %}" alt="Logo" class="me-2" width="50">
                      <strong class="fs-4">NAK English</strong>
                  </div>
                  <p class="mt-2">
                    Sứ mệnh của chúng tôi là giúp mọi người tiếp cận tiếng Anh dễ dàng, mọi lúc, mọi nơi. Tại NAK English, chúng tôi cam kết đồng hành và hỗ trợ bạn trên hành trình chinh phục ngôn ngữ này!
                  </p>
              </div>
  
              <!-- Course Links -->
              <div class="col-md-4 text-center our-courses">
                <h5 class="fw-bold">Our Courses</h5>
                <ul class="list-inline">
                    <a href="./Children-English.html"><li class="px-3">Children's Course</li></a>
                    <a href="./Aldult-English.html"><li class="px-3">Adult's Course</li></a>
                    <li class="px-3">IELTS Exam</li>
                </ul>
              </div>
  
              <!-- Social Media + Copyright -->
              <div class="col-md-4 text-center text-md-end">
                  <p class="fw-bold">Follow Us</p>
                  <div class="d-flex justify-content-center justify-content-md-end gap-2">
                      <a href="#"><img src="{%static 'img/icon/facebook-brands.svg' %}" alt="Facebook" width="35"></a>
                      <a href="#"><img src="{%static 'img/icon/youtube-brands.svg' %}" alt="YouTube" width="40"></a>
                      <a href="#"><img src="{%static 'img/icon/instagram-brands.svg' %}" alt="Instagram" width="32"></a>
                  </div>
                  <p class="mt-3">&copy; 2025 NAK English</p>
              </div>
          </div>
      </div>
    </footer>
  </body>
</html>

